<h1><%= @patient.name %></h1>

<h2>Appointments</h2>

<% @patient.appointments.each do |app| %>
    <p>Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %></p>
    <p>Date: <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
<% end %>